$boxShadow: 3px 3px 10px #cfcfcf;
$zIndex: 2;
$borderRadius: 10px;
$backgroundColor: #fff;
$width: 40%;
$spinerMarginTop: auto;
$spinnerMarginBottom: auto;
$spinnerWidth: 150px;
$spinnerHeight: 150px;

.p-panelmenu {
  box-shadow: $boxShadow;
  z-index: $zIndex;
}

.p-menubar {
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
}

.p-progressbar {
  width: $width;
}

.p-progress-spinner {
  margin-top: $spinerMarginTop;
  margin-bottom: $spinnerMarginBottom;
  width: $spinnerWidth;
  height: $spinnerHeight;
}
